---
layout: archive
---
<p><strong>Welcome to my website!</strong></p>
<p>I'm passionate about display, physics, and nanophotonics. I look forward to sharing a lot of fundamental knowledge here.</p>
<p>If you have any questions, feel free to reach out anytime.</p>
<p>I wish you a happy day!</p>
<hr>

<p><strong>블로그에 오신걸 환영합니다!</strong></p>
<p>많은 지식들을 나누고 싶어 시작하였습니다.</p>
<p>질문이나 의견을 나누고싶다면 언제든 환영입니다!</p>
<p>이거 완전 럭키비키잖아~✬</p>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
